.navbar-logo {
    height: 30px;
}

.navbar-container {
    padding-left: 0;
}

.user {
    background-color: #fd7e14 !important;
}
.staff {
    background-color: #4dabf7 !important;
}

.dropdown-menu {
    background-color: #fd7e14 !important;
}
.dropdown-menu-staff {
    background-color: #4dabf7 !important;
}

.drop-item:hover {
    background-color: #4dabf7 !important;
}
.drop-item-staff:hover {
    background-color: #fd7e14 !important;
}

