.navbar-logo {
    height: 30px;
}

.navbar-container {
    padding-left: 0;
}

.navbar {
    background-color: #fd7e14;
}

.dropdown-menu {
    background-color: #fd7e14;
}

.drop-item:hover {
    background-color: #4dabf7;
}

