$primary: #4dabf7;
$secondary: #fd7e14;
$success: #d0f042;
$info: #fcea74;
$warning:       red;
$danger:        black;
$light: #f5f5f5;
// $dark:          $gray-900;

$navbar-light-color:                rgba($light, 1);
$navbar-light-hover-color:          rgba($info, .8); //Hover
$navbar-light-active-color:         rgba($light, 1); //Title next to Logo
$navbar-light-disabled-color:       rgba($success, .3); 
$navbar-light-icon-color:           rgba(black, .75); // expand threee lines colors if the one after this is npt active
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$light}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($light, .5);
$navbar-light-brand-color:          $light;
$navbar-light-brand-hover-color:    $info;

@import "~bootstrap/scss/bootstrap.scss"
